**NAMA  : ISA IANT MAULANA** <br>
**NIM   : A11.2022.14416** <br>
**TUGAS STKI**

**JUDUL : SISTEM PENCARI UNTUK MEMBERIKAN REKOMENDASI ANIME**

## Import Dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
anime = pd.read_csv("C:/SEMESTER 5/STKI/Tugas 3 STKI/data/anime.csv")
rating = pd.read_csv("C:/SEMESTER 5/STKI/Tugas 3 STKI/data/rating.csv")

## Preprocessing

In [3]:
print(f"Shape of The Anime Dataset : {anime.shape}")
print(f"\nGlimpse of The Dataset :")
anime.head().style.set_properties()

Shape of The Anime Dataset : (12294, 7)

Glimpse of The Dataset :

In [4]:
print(f"Informations About Anime Dataset :\n")
print(anime.info())

Informations About Anime Dataset :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

**Mari kita lihar sekilas dataset rating.**

In [5]:
print(f"Shape of The Rating Dataset : {rating.shape}")
print(f"\nGlimpse of The Dataset :")
rating.head().style.set_properties()

Shape of The Rating Dataset : (7813737, 3)

Glimpse of The Dataset :

In [6]:
print(f"Informations About Rating Dataset :\n")
print(rating.info())

Informations About Rating Dataset :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7813737 entries, 0 to 7813736
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 178.8 MB
None

**Ringkasan dataset**

In [7]:
print(f"Summary of The Anime Dataset :")
anime.describe().T.style.set_properties()

Summary of The Anime Dataset :

In [8]:
anime.describe(include=object).T.style.set_properties()

In [9]:
print("Null Values of Anime Dataset :")
anime.isna().sum().to_frame().T.style.set_properties()

Null Values of Anime Dataset :

In [10]:
print("After Dropping, Null Values of Anime Dataset :")
anime.dropna(axis = 0, inplace = True)
anime.isna().sum().to_frame().T.style.set_properties()

After Dropping, Null Values of Anime Dataset :

In [11]:
dup_anime = anime[anime.duplicated()].shape[0]
print(f"There are {dup_anime} duplicate entries among {anime.shape[0]} entries in anime dataset.")

There are 0 duplicate entries among 12017 entries in anime dataset.

In [12]:
print(f"Summary of The Rating Dataset :")
rating.describe().T.style.set_properties()

Summary of The Rating Dataset :

In [13]:
print("Null Values of Rating Dataset :")
rating.isna().sum().to_frame().T.style.set_properties()

Null Values of Rating Dataset :

In [14]:
dup_rating = rating[rating.duplicated()].shape[0]
print(f"There are {dup_rating} duplicate entries among {rating.shape[0]} entries in rating dataset.")

rating.drop_duplicates(keep='first',inplace=True)
print(f"\nAfter removing duplicate entries there are {rating.shape[0]} entries in this dataset.")

There are 1 duplicate entries among 7813737 entries in rating dataset.

After removing duplicate entries there are 7813736 entries in this dataset.

***Menggabungkan dataset 1 dan dataset 2***

In [15]:
fulldata = pd.merge(anime,rating,on="anime_id",suffixes= [None, "_user"])
fulldata = fulldata.rename(columns={"rating_user": "user_rating"})

print(f"Shape of The Merged Dataset : {fulldata.shape}")
print(f"\nGlimpse of The Merged Dataset :")

fulldata.head().style.set_properties()

Shape of The Merged Dataset : (7813610, 9)

Glimpse of The Merged Dataset :

In [16]:
fulldata.to_csv('C:/SEMESTER 5/STKI/Tugas 3 STKI/data/fulldata.csv', index=False)
print('Dataset berhasil di save')

Dataset berhasil di save